*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
:root{
    --primaryColor:rgba(53,75,94,1);
}
.container{
    min-height: 100vh;
    background-image: url("../assets/images/fog.jpg");
    background-position: 50% 50%;
 padding-bottom: 20px;
}
.title{
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    color:rgb(22, 21, 21);
}
.title__highlight{
    color:rgb(101, 183, 231);
}
.form{
    text-align: center;
}
.form__input{
    text-align: center;
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 7px 0;
    margin-bottom: 45px;
}
.form__input:focus{
    outline: 0;
}
::placeholder{
    color: white;
}
.weather-Info-Container{
    background-color: rgba(190, 190, 190, 0.6);
    height: 50%;
    max-width: 500px;
    color: var(--primaryColor);
    font-size: 1.25rem;
    padding: 10px;
    box-shadow: 0px 0px 61px 22px rgba(0,0,0,0.65);
    margin: 0 auto;
}
.currentInfo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.currentInfo__detail{
    margin-bottom: 5px;
}
.currentInfo__temperatureBox{
    width: 51%;
}
.currentInfo__city{
    color:white;
}
.currentInfo__details{
    margin-top: 20px;
}
.temperatureBox__weatherIcon{
    color: white;
}
.currentMax{
    position: relative;
    margin-right: 10px;
}
.currentMax::after{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 2px;
    height:100%;
    background-color: var(--primaryColor);
}
.forecast{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.forecast__day{
    margin: 0 10px;
    text-align: center;
    color: white;
}
.forecast__value{
    display: block;
    margin:0 5px 5px 5px;
}
.off{
    display: none;
}
.min{
    color:rgb(50, 86, 117);
}
.max{
    color:rgb(218, 39, 39);
}
@media(min-width:530px){
    .temperatureBox__tempValue{
        font-size: 1.25rem;
    }
    .currentInfo__details{
        margin-left:50px;
   }
   .temperatureBox__tempValue{
       font-size: 2.06rem;
   }
   .off{
    display: block;
    }
}
@media(min-width:1200px){
    html{
        font-size: 18px;;
    }
    .title{
        font-size: 3.125rem;
        width: 450px;
    }
    .weather-Info-Container{
        max-width: 650px;
        padding: 30px;
    }
}